body{
    padding-top: 50px;
    font-family: 'Times New Roman', Times, serif;
    overflow-x: hidden;

}
p::selection,blockquote::selection,h3::selection{
    background:#203b96 ;
    color: white;
}

.nav-color{ 
    background-color:#203b96;
}

.fa-paper-plane{
    color: gold;
}


.jumbotron{
    padding:10px 50px 0px 30px;
    margin:0px auto;
    background: transparent;
    
}
.MultiColor{
    background: linear-gradient(30deg,#5eeeee,#ff97979d) !important;
    color:rgb(255, 255, 255) !important;
}


.color-gold{
    color: gold !important;
}
.color-nav{
    color:#203b96;
}

.nav-forecolor{
    color:#203b96;
}

.color-silver{
    color: rgb(250, 245, 245);
}

.ml-20{
    margin-left: 20px;
}

.img-fluid{
    height: 376px;
}

.colored-bg{
    padding: 100px 60px 60px 60px;
    background-color: #ECFAFC;
}
.colored-bg-dark{
    background-color: #203b96c4;
}
.colored-bg-light{
    background-color: #274fd4c4;
}


.cardd{
    padding: 50px 20px 20px 20px;
}

.smallImg{
    max-width: 300px;
}

.rounded{
    border-radius: 50% !important; 
}

.color-white{
    color: white;
}

.carousel-caption h5, .focused{
    background-color: rgba(0, 0, 0, 0.644);
    box-shadow: black 10px 10px 20px;
}

.carousel-item img{
    min-height: 380px;
    
}

#MainCarousel{
    padding: 20px 20px 20px 50px;
}

.setToCenter{
    margin-top: -250px;

}

.color-black{
    color: black;
}

.page-footer{
    background-color: #203b96;
    min-height: 300px;
    
}

.hover-gold:hover{
    color: gold;
}

.bg-shadow{
    background-color: rgba(0, 0, 0, 0.774);
    box-shadow: black 15px 15px 20px;
}
