body{
    padding-top: 50px;
}

.nav-color{
    background-color:#203b96;
}

.fa-paper-plane{
    color: gold;
}

.jumbotron{
    padding:100px 30px 70px 30px;
    margin:0px auto;
    background: linear-gradient(30deg, #5eeeee , #ff9797);
    color:rgb(255, 255, 255);
}

.color-gold{
    color: gold !important;
}

.ml-20{
    margin-left: 20px;
}